*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(125, 173, 125);
}

.heroImage{
    background-image: url(../img/architecture_sunset_sea_139212_3840x2160.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    border-radius: 200px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}